### 1. Write a program to reverse a string.

In [1]:
str ='reverse'

In [2]:
print(str[::-1])

esrever

### 2. Check if a string is a palindrome.

In [36]:
a ='racecar'

In [35]:
if a[:]==a[::-1] :
    print(a,'is a palindrome')
else:
        print(a , 'is not a palindrome')

racecar is a palindrome

### 3. Convert a string to uppercase.

In [6]:
txt ='uppercase'
print(txt.upper())

UPPERCASE

### 4. Convert a string to lowercase.

In [7]:
txt='LOWER'
print(txt.lower())

lower

### 5. Count the number of vowels in a string.

In [61]:
 txt ='number of vowels in a string'

In [62]:
vowels='aeiouAEIOU'

In [100]:
count =0
for i in txt:
    if i in vowels:
        count+=1
print('number of vowels in given string are ',count)

number of vowels in given string are  5

### 6. Count the number of consonants in a string.

In [66]:
 txt ='number of vowels in a string'

In [67]:
vowels='aeiouAEIOU'

In [99]:
count =0
for i in txt:
    if i not in vowels:
        count+=1
print('number of consonants are',count)

number of consonants are 20

In [76]:
print(len(txt)) # total - 28

28

### 7. Remove all whitespaces from a string.

In [77]:
txt='remove all whitespaces from a string'

In [86]:
print(txt.replace(' ',''))

removeallwhitespacesfromastring

### 8. Find the length of a string without using the `len()` function.

In [104]:
txt=' length of a string is 25'

In [105]:
count =0
for i in txt:
    count+=1
print('length of given string is',count)

length of given string is 25

### 9. Check if a string contains a specific word.

In [8]:
txt ='specific word in this string is niran'
word=input()

 niran

In [9]:
if word in txt:
    print('string contains',word)
else:
    print('string does not contain',word)

string contains niran

### 10. Replace a word in a string with another word.

In [15]:
txt='changes are constant'

In [17]:
txt.replace('constant','inevitable')

'changes are inevitable'

### 11. Count the occurrences of a word in a string.

In [14]:
txt='Count the occurrences of a word in a string , string'

In [13]:
word='string'
txt.count(word)

2

### 12. Find the first occurrence of a word in a string

In [15]:
txt ='Count the occurrences of a word in a string , count each occurrences of each words'

In [16]:
txt.find('each')

52

### 13. Find the last occurrence of a word in a string.

In [79]:
txt ='Count the occurrences of a word in a string , count each occurrences of each words'

In [88]:
txt.rindex('each')

72

### 14. Split a string into a list of words.

In [1]:
txt='Split a string into a list of words'

In [11]:
txt.split()

['Split', 'a', 'string', 'into', 'a', 'list', 'of', 'words']

### 15. Join a list of words into a string.

In [19]:
a =['list','of','words']
b =' '.join(a)
print(b)

list of words

### 16. Convert a string where words are separated by spaces to one where words are separated by underscores

In [108]:
txt='string separated by underscore'

In [110]:
txt.replace(' ','_')

'string_separated_by_underscore'

### 17. Check if a string starts with a specific word or phrase.

In [114]:
txt='check if a string starts with a specific word or phrase'

In [122]:
a = input()

 check

In [123]:
if txt.startswith(a) :
    print('the given string starts with',a)
else:
     print('the given string does not start with',a)

the given string starts with check

### 18. Check if a string ends with a specific word or phrase.

In [124]:
txt='check if a string ends with a specific word or phrase'

In [127]:
a = input()

 phrase

In [130]:
if txt.endswith(a) :
    print('the given string ends with',a)
else:
     print('the given string does not ends with',a)

the given string ends with phrase

### 19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [146]:
txt='hello world'

In [148]:
txt.title()

'Hello World'

### 20. Find the longest word in a string.

In [12]:
txt ='find the longest word in a string'

In [13]:
a=txt.split()

In [15]:
max(a,key=len)

'longest'

### 21. Find the shortest word in a string.

In [161]:
txt='find the shortest word in a string'

In [13]:
a=txt.split()

In [14]:
min(a,key=len)

'a'

### 22. Reverse the order of words in a string.

In [17]:
txt='Reverse the order of words in a string'
b=txt.split()
print(' '.join(b[::-1]))

string a in words of order the Reverse

In [24]:
' '.join(b[::-1])

'string a in words of order the Reverse'

### 23. Check if a string is alphanumeric

In [56]:
txt='50questions'

In [57]:
if txt.isalnum():
    print('given string is lphanumeric')
else:

True

### 24. Extract all digits from a string.

In [25]:
txt='1 question are correct out of 2'

In [29]:
for i in txt:
    if i.isdigit():
        print(i,end=' ')

1 2

### 25. Extract all alphabets from a string.

In [66]:
txt='10 questions are correct out of 20'

In [56]:
for i in txt.split():
    if i.isalpha():
        print(i,end=' ')

question are correct out of

### 26. Count the number of uppercase letters in a string.

In [58]:
txt='COUNT the NUMBER of UPPERCASE letters IN a STRING'

In [59]:
count =0
for i in txt:
    if i.isupper():
        count+=1
print(count)

28

### 27. Count the number of lowercase letters in a string.

In [61]:
txt='count the NUMBER of lowercase letters IN a STRING'
count =0
for i in txt:
    if i.islower():
        count+=1
print(count)

### 28. Swap the case of each character in a string.

In [35]:
txt='SWAP the CASE of EACH character IN a STRING'
txt.swapcase()

### 29. Remove a specific word from a string.

In [38]:
txt='Remove a specific word from a string'

In [39]:
word='string'

In [42]:
print(txt.replace(word,''))

Remove a specific word from a

### 30. Check if a string is a valid email address.

In [87]:
txt='nirandharan@gmail.com'

In [106]:
if '@' and '.com' in txt:
    print('Given email is a valid email address')
else:
    print('Given email is not a valid email address')

Given email is not a valid email address

### 31. Extract the username from an email address string

In [89]:
txt='nirandharan@gmail.com'

In [91]:
txt[:txt.find('@')]

'nirandharan'

### 32. Extract the domain name from an email address string

In [94]:
txt='nirandharan@gmail.com'

In [103]:
txt[txt.find('@')+1:]

'gmail.com'

### 33. Replace multiple spaces in a string with a single space.

In [65]:
txt='   replace    multiple    space    in   a   string   '
print(' '.join(txt.split()))

replace multiple space in a string

### 34. Check if a string is a valid URL.

In [15]:
txt='https://pwskills.com/'

In [17]:
pip install validators #installing required lib

Collecting validators
  Downloading validators-0.21.2-py3-none-any.whl (25 kB)
Installing collected packages: validators
Successfully installed validators-0.21.2
Note: you may need to restart the kernel to use updated packages.

In [21]:
import validators 
if validators.url(txt)== True:
    print('Given email is a valid URL')
else:
    print('Given email is not a valid URL')

Given email is a valid URL

### 35. Extract the protocol (http or https) from a URL string.

In [22]:
txt='https://pwskills.com/'

In [23]:
txt[:txt.find(':')]

'https'

### 36. Find the frequency of each character in a string.

In [27]:
txt='frequencyofeachcharacter'

In [28]:
set_txt=set(txt)
for i in set_txt:
    print(f'the frequency of {i} is {txt.count(i)} times')

the frequency of c is 4 times
the frequency of n is 1 times
the frequency of y is 1 times
the frequency of u is 1 times
the frequency of h is 2 times
the frequency of f is 2 times
the frequency of r is 3 times
the frequency of e is 4 times
the frequency of t is 1 times
the frequency of q is 1 times
the frequency of a is 3 times
the frequency of o is 1 times

### 37. Remove all punctuation from a string.

In [66]:
txt='remove : all punctuatins , from a string.'

In [68]:
import string

In [74]:
txt.translate(str.maketrans('','',string.punctuation))

'remove  all punctuatins  from a string'

### 38. Check if a string contains only digits.

In [76]:
txt='86378'
if txt.isnumeric():
    print('string contains only digits')
else:
    print('string contains digits and alphabets')

string contains only digits

### 39. Check if a string contains only alphabets.

In [77]:
txt='alphabets'
if txt.isalpha():
    print('string contains only alphabets')
else:
    print('string contains digits and alphabets')

string contains only alphabets

### 40. Convert a string to a list of characters.

In [7]:
string='convert a string of a list of characters'

In [9]:
list = string.split()

In [11]:
print(list)

['convert', 'a', 'string', 'of', 'a', 'list', 'of', 'characters']

### 41. Check if two strings are anagrams.

In [86]:
string_1='car'
string_2='arc'
if sorted(string_1) == sorted(string_2):
    print('given two strings are anagrams')
else:
     print('given two strings are not anagrams')

given two strings are anagrams

### 42. Encode a string using a Caesar cipher.

In [94]:
encode=[]
code='CaeserCipher'
shift=2
for i in code :
    if i.isalpha():
        en=ord(i.upper())+shift
        encode.append(chr(en))
print(''.join(encode))

ECGUGTEKRJGT

### 43. Decode a Caesar cipher encoded string.

In [ ]:
decode=[]
code='ECGUGTEKRJGT'
shift=2
for i in code :
    if i.isalpha():
        en=ord(i.upper())-shift
        decode.append(chr(en))
print(''.join(decode))

CESERCIPHER

### 44. Find the most frequent word in a string.

In [100]:
txt='list will show data and list will also stores data list'
a=set(txt.split())
max=1
for i in a:
    x=txt.count(i)
    if x > max :
        max=x
        print('most frequent word in this string is',i)

most frequent word in this string is list

### 45. Find all unique words in a string.

In [39]:
txt='find all unique words in this all words string'

In [114]:
set(txt.split())

{'also', 'and', 'data', 'list', 'show', 'stores', 'will'}

### 46. Count the number of syllables in a string.

In [102]:
pip install syllables

Collecting syllables
  Downloading syllables-1.0.7-py3-none-any.whl (15 kB)
Requirement already satisfied: importlib-metadata<6.0.0,>=5.1.0 in /opt/conda/lib/python3.10/site-packages (from syllables) (5.1.0)
Collecting cmudict<2.0.0,>=1.0.11
  Downloading cmudict-1.0.13-py3-none-any.whl (939 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 939.3/939.3 kB 24.6 MB/s eta 0:00:0000:01
Requirement already satisfied: importlib-resources<6.0.0,>=5.10.1 in /opt/conda/lib/python3.10/site-packages (from cmudict<2.0.0,>=1.0.11->syllables) (5.10.1)
Requirement already satisfied: zipp>=0.5 in /opt/conda/lib/python3.10/site-packages (from importlib-metadata<6.0.0,>=5.1.0->syllables) (3.11.0)
Installing collected packages: cmudict, syllables
Successfully installed cmudict-1.0.13 syllables-1.0.7
Note: you may need to restart the kernel to use updated packages.

In [103]:
import syllables

In [104]:
syllables.estimate('robot')

2

### 47. Check if a string contains any special characters.

In [123]:
txt='testname@gmail.com'
if not (txt.isnumeric() or txt.isalpha()):
        print('given string contains special characters')
else:
        print('given string does not contains special characters')

given string contains special characters

### 48. Remove the nth word from a string.

In [133]:
txt='remove the nth word from string'
position=3
txt.replace (txt.split()[position-1],'')

'remove the  word from string'

### 49. Insert a word at the nth position in a string.

In [151]:
txt='Insert a at the nth position'
word='word'
position=3
new=list(txt.split())
new.insert(
    -1,word)
new=' '.join(new)
print(new)

Insert a word at the nth position

In [ ]:
list.insert

### 50. Convert a CSV string to a list of lists.

In [158]:
csv ='He said,\nwhat do you mean,\nNewlines'
txt = [i.split(',') for i in csv.strip().split('\n')]
txt

[['He said', ''], ['what do you mean', ''], ['Newlines']]

### List Based Practice Problem :

### 1. Create a list with integers from 1 to 10.

In [1]:
lst=[x for x in range(1,11)]
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 2. Find the length of a list without using the `len()` function.

In [50]:
lst=['find','the','length','of','a','list']

In [54]:
count=0
for i in lst:
    count +=1
print(count)

6

### 3. Append an element to the end of a list.

In [2]:
lst=['Append', 'an', 'element', 'to', 'the', 'end', 'of', 'a', 'list']
lst.append('appended')
lst

['Append', 'an', 'element', 'to', 'the', 'end', 'of', 'a', 'list', 'appended']

### 4. Insert an element at a specific index in a list.

In [75]:
lst=['Insert', 'an', 'element', 'at', 'a', 'index', 'in', 'a', 'list']
lst.insert(4,'specific')
lst

### 5. Remove an element from a list by its value.

In [3]:
lst=['Remove', 'an', 'element', 'from', 'a', 'list','extra', 'by', 'its', 'value']
lst.remove('extra')
lst

['Remove', 'an', 'element', 'from', 'a', 'list', 'by', 'its', 'value']

### 6. Remove an element from a list by its index.

In [4]:
lst=['Remove', 'an', 'element', 'from', 'a', 'list','extra', 'by', 'its', 'index']
lst.pop(6)
lst

['Remove', 'an', 'element', 'from', 'a', 'list', 'by', 'its', 'index']

### 7. Check if an element exists in a list.

In [5]:
lst=['Check', 'if', 'an', 'element', 'exists', 'in', 'a', 'list']
i ='elemen'
if i in lst:
    print('Element exists in list')
else:
    print('Element does not exists in list')

Element does not exists in list

### 8. Find the index of the first occurrence of an element in a list.

In [39]:
lst=['in', 'list', ',','Find', 'the', 'index', 'of', 'the', 'first', 'occurrence', 'of', 'an', 'element', 'in', 'a', 'list']

In [31]:
lst.index('list')

1

### 9. Count the occurrences of an element in a list.

In [40]:
lst=['in', 'list', ',','Find', 'the', 'index', 'of', 'the', 'first', 'occurrence', 'of', 'an', 'element', 'in', 'a', 'list']

In [42]:
for i in lst:
    print(i ,'occur',lst.count(i),'times in list')

in occur 2 times in list
list occur 2 times in list
, occur 1 times in list
Find occur 1 times in list
the occur 2 times in list
index occur 1 times in list
of occur 2 times in list
the occur 2 times in list
first occur 1 times in list
occurrence occur 1 times in list
of occur 2 times in list
an occur 1 times in list
element occur 1 times in list
in occur 2 times in list
a occur 1 times in list
list occur 2 times in list

### 10. Reverse the order of elements in a list.

In [8]:
lst=['Reverse', 'the', 'order', 'of', 'elements', 'in', 'a', 'list']
lst.reverse()
lst

['list', 'a', 'in', 'elements', 'of', 'order', 'the', 'Reverse']

### 11. Sort a list in ascending order.

In [9]:
lst=[9,7,5,3,1,2,4,6,8,0]
lst.sort()
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### 12. Sort a list in descending order.

In [10]:
lst=[9,7,5,3,1,2,4,6,8,0]
lst.sort(key=None,reverse=True)
lst

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### 13. Create a list of even numbers from 1 to 20.

In [14]:
lst=[]
lst = [x for x in range(20) if x%2==0]
lst

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

### 14. Create a list of odd numbers from 1 to 20.

In [30]:
lst=[]

In [35]:
lst = [x for x in range(20) if x%2!=0]
lst

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### 15. Find the sum of all elements in a list.

In [18]:
lst=[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

print(sum(lst))

100

### 16. Find the maximum value in a list.

In [20]:
lst=[1, 3, 5, 7, 9, 11, 15, 17, 19,14,12,13]
max(lst)

19

### 17. Find the minimum value in a list.

In [21]:
lst=[12, 3, 5, 7, 9, 11, 15, 17, 19,14,1,13]
min(lst)

1

### 18. Create a list of squares of numbers from 1 to 10.

In [23]:
lst=[x*x for x in range(10)]
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### 19. Create a list of random numbers.

In [54]:
import random
lst=[]
x=10
for i in range(x):
    lst.append(random.randint(0,9))
print(lst)

[4, 3, 5, 9, 0, 1, 7, 2, 5, 5]

### 20. Remove duplicates from a list.

In [ ]:
lst=[5, 9, 1, 3, 2, 1, 8, 1, 4, 7,3,4]
list(set(lst))

[1, 2, 3, 4, 5, 7, 8, 9]

### 21. Find the common elements between two lists.

In [26]:
list_1=[ 5, 7, 8, 9] 
list_2=[1, 2, 3, 4, 5, 7, 8, 9]
lst=[]

lst = [i for i  in list_1 if i in list_2]

print(lst)

[5, 7, 8, 9]

### 22. Find the difference between two lists.

In [10]:
list_1=[ 5, 7, 8, 9]  
list_2= [1, 2, 3, 4, 5, 7, 8, 9]
lst=[]

lst = list(set(list_1).symmetric_difference(set(list_2)))
lst

[1, 2, 3, 4]

### 23. Merge two lists.

In [30]:
list_1=[ 5, 7, 8, 9]  
list_2= [1, 2, 3, 4, 5, 7, 8, 9]
lst=list_1+list_2
lst

[5, 7, 8, 9, 1, 2, 3, 4, 5, 7, 8, 9]

### 24. Multiply all elements in a list by 2.

In [31]:
lst= [1, 2, 3, 4, 5, 7, 8, 9]
lst=[x * 2 for x in lst]
print(lst)

[2, 4, 6, 8, 10, 14, 16, 18]

### 25. Filter out all even numbers from a list.

In [57]:
lst=[1, 2, 3, 4, 5, 7, 8, 9,10]
lst=list(filter(lambda x:x%2==0,lst))
lst

[2, 4, 8, 10]

### 26. Convert a list of strings to a list of integers.

In [65]:
lst=['1','2','3']
lst=[int(x) for x in lst]
lst

[1, 2, 3]

### 27. Convert a list of integers to a list of strings.

In [67]:
lst=[1, 2, 3, 4, 5, 7, 8, 9]
lst=[str(x) for x in lst]
lst

['1', '2', '3', '4', '5', '7', '8', '9']

### 28. Flatten a nested list.

In [64]:
lst=[[1, 2, 3, 4],[5, 7, 8, 9],[10,11,12,13]]

lst = [y for x in lst for y in x]

print(lst)

[1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13]

### 29. Create a list of the first 10 Fibonacci numbers.

In [72]:
num = 10
n1, n2 = 0, 1
print("Fibonacci Series:", n1, n2, end=" ")
for i in range(2, num):
    n3 = n1 + n2
    n1 = n2
    n2 = n3
    print(n3, end=" ")

Fibonacci Series: 0 1 1 2 3 5 8 13 21 34

### 30. Check if a list is sorted.

In [86]:
lst=[1, 2, 3, 4, 5, 7, 8,6]

if lst==sorted(lst):
    print('list is sorted')
else:
    print('list is not sorted')

list is not sorted

### 31. Rotate a list to the left by `n` positions.

In [88]:
lst=[1, 2, 3, 4, 5, 7, 8]
x=int(input())

 4

In [89]:
lst[x:]+lst[:x]

[5, 7, 8, 1, 2, 3, 4]

### 32. Rotate a list to the right by `n` positions.

In [90]:
lst=[1, 2, 3, 4, 5, 7, 8]
x=int(input())

 4

In [92]:
lst[-x:]+lst[:-x]

[4, 5, 7, 8, 1, 2, 3]

### 33. Create a list of prime numbers up to 50.

In [95]:
def prime_number(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) +1):
        if num% i == 0:
            return False
    return True

primenumber = [num for num in range(2,51) if prime_number(num)]

print(primenumber)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

### 34. Split a list into chunks of size `n`.

In [108]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9]
chunk_size = 3 

chunk_list=[lst[i:i + chunk_size] for i in range(0,len(lst), chunk_size)]

print('Original list', lst)

print('Chunk list', chunk_list)

Original list [1, 2, 3, 4, 5, 6, 7, 8, 9]
Chunk list [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

### 35. Find the second largest number in a list.

In [11]:
lst=[1, 3, 4,2, 5, 7, 8]
lst.sort()
lst[-2]

7

### 36. Replace every element in a list with its square.

In [17]:
lst=[1, 2, 3, 4, 5, 7, 8] 
lst=[x*x for x in lst]
lst

[1, 4, 9, 16, 25, 49, 64]

### 37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [109]:
lst=[1, 2, 3, 4, 5, 7, 8] 

dic= {keys: values for keys , values in enumerate(lst)}

print(dic)

{0: 1, 1: 2, 2: 3, 3: 4, 4: 5, 5: 7, 6: 8}

### 38. Shuffle the elements of a list randomly.

In [5]:
import random
lst=[1, 2, 3, 4, 5, 7, 8] 
random.shuffle(lst)
print(lst)

[4, 5, 2, 3, 7, 1, 8]

### 39. Create a list of the first 10 factorial numbers.

In [113]:
def factorial(n):
    if n==0:
        return 1
    result=1
    for i in range(1,n+1):
        result*=i
    return result

fac=[factorial(i) for i in range(10)]
fac

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

### 40. Check if two lists have at least one element in common.

In [141]:
def common_element(lst1, lst2):
    for i in lst1:
        for j in lst2:
            if i == j:
                return True
    return False

lst1 = [1, 2, 3, 4, 5]
lst2 = [ 6, 7, 8]

if common_element(lst1, lst2):
    print('The lists have at least one common element')
else:
    print('The lists does not have atleast one common element')

The lists does not have atleast one common element

### 41. Remove all elements from a list.

In [91]:
lst=[1, 2, 3, 4] 
lst.clear()
lst

[]

### 42. Replace negative numbers in a list with 0.

In [9]:
lst=[1, 2, 3, -4, 5, -7, 8] 
lst1=[]
for i in lst:
    if i<0:
        x=lst.index(i)
        lst[x]=0
print(lst)

[1, 2, 3, 0, 5, 0, 8]

### 43. Convert a string into a list of words.

In [13]:
string=' Convert a string into a list of words'
lst=list(string.split())
lst

['Convert', 'a', 'string', 'into', 'a', 'list', 'of', 'words']

### 44. Convert a list of words into a string.

In [22]:
lst=['Convert', 'a', 'string', 'into', 'a', 'list', 'of', 'words']
str=' '.join(lst)
str

'Convert a string into a list of words'

### 45. Create a list of the first `n` powers of 2.

In [147]:
n=10
powers = [i**2 for i in range(n)]
powers

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### 46. Find the longest string in a list of strings.

In [148]:
lst=['Find', 'the', 'longest', 'string', 'in', 'a', 'list', 'of', 'string']
maximum=1
for i in lst:
    x=len(i)
    if x>maximum:
        maximum=x
        index=lst.index(i)
print('the longest string in a list of string is',lst[index])

the longest string in a list of string is longest

### 47. Find the shortest string in a list of strings.

In [151]:
lst=['Find', 'the', 'shortest', 'string', 'in', 'a', 'list', 'of', 'string']
maximum=1
for i in lst:
    x=len(i)
    if x<=maximum:
        maximum=x
        index=lst.index(i)
print('the shortest string in a list of string is',lst[index])

the shortest string in a list of string is a

### 48. Create a list of the first `n` triangular numbers.

In [153]:
n = 5 

triangular_numbers = [(i * (i + 1)) // 2 for i in range(1, n + 1)]

print(triangular_numbers)

[1, 3, 6, 10, 15]

### 49. Check if a list contains another list as a subsequence.

In [158]:
list1 = [1, 2, 3, 4, 5, 6, 7]
list2 = [7,8,9]

if all(i in list1 for i in list2):
    print('list contains anthore list as s subsequence')
else:
    print('list does not contains anthore list as s subsequence')

list does not contains anthore list as s subsequence

### 50. Swap two elements in a list by their indices.

In [161]:
lst=[1, 2, 3, 4, 5, 6, 7]
a=int(input())
b=int(input())

 1
 3

In [162]:
x,y=lst[a],lst[b]
lst[a]=y
lst[b]=x
lst

[1, 4, 3, 2, 5, 6, 7]

### Tuple Based Practice Problem :

### 1. Create a tuple with integers from 1 to 5.

In [124]:
tup=(1,2,3,4,5)
type(string)

tuple

### 2. Access the third element of a tuple.

In [130]:
tup=('access','the','third','element','of','a','tuple')
tup[2]

'third'

### 3. Find the length of a tuple without using the `len()` function.

In [147]:
tup=('Find','the','length','of','a','tuple')
x=0
for i in tup:
    x=x+tup.count(i)
print(x)

6

### 4. Count the occurrences of an element in a tuple.

In [5]:
tup=('Count', 'the', 'occurrences', 'of', 'an', 'element', 'in', 'the', 'tuple')
for i in tup:
    print(i ,'occur',tup.count(i),'times in tuple')

Count occur 1 times in tuple
the occur 2 times in tuple
occurrences occur 1 times in tuple
of occur 1 times in tuple
an occur 1 times in tuple
element occur 1 times in tuple
in occur 1 times in tuple
the occur 2 times in tuple
tuple occur 1 times in tuple

### 5. Find the index of the first occurrence of an element in a tuple.

In [13]:
tup=('Count', 'the', 'occurrences', 'of', 'an', 'element', 'in', 'the', 'tuple')
for i in tup:
    print(f'the first occureence of {i} is at {tup.index(i)} index')

the first occureence of Count is at 0 index
the first occureence of the is at 1 index
the first occureence of occurrences is at 2 index
the first occureence of of is at 3 index
the first occureence of an is at 4 index
the first occureence of element is at 5 index
the first occureence of in is at 6 index
the first occureence of the is at 1 index
the first occureence of tuple is at 8 index

### 6. Check if an element exists in a tuple.

In [20]:
tup=('Check', 'if', 'an', 'element', 'exists', 'in', 'a', 'tuple')
i='if'
if i in tup:
    print('Element exists in this tuple')
else:
    print('Element does not exists in  this tuple')

Element exists in this tuple

### 7. Convert a tuple to a list.

In [25]:
tup=('Convert', 'a', 'tuple', 'to', 'a', 'list')
list(tup)

['Convert', 'a', 'tuple', 'to', 'a', 'list']

### 8. Convert a list to a tuple

In [27]:
lst=['Convert', 'a', 'list', 'to', 'a', 'tuple']
tuple(lst)

('Convert', 'a', 'list', 'to', 'a', 'tuple')

### 9. Unpack the elements of a tuple into variables.

In [18]:
new = (99,55,77)

a,b,c =new

print(a,b,c)

99 55 77

### 10. Create a tuple of even numbers from 1 to 10.

In [41]:
tup=()
lst=[]
for i in range(1,10):
    lst.insert(i,i)
    tup=tuple(lst)
tup

(1, 2, 3, 4, 5, 6, 7, 8, 9)

### 11. Create a tuple of odd numbers from 1 to 10.

In [43]:
tup=()
lst=[]
for i in range(1,10):
    if i%2!=0:
        lst.insert(i,i)
        tup=tuple(lst)
tup

(1, 3, 5, 7, 9)

### 12. Concatenate two tuples.

In [47]:
tup1=(1,2,3,4)
tup2=(5,6,7,8)
tup1+tup2

(1, 2, 3, 4, 5, 6, 7, 8)

### 13. Repeat a tuple three times.

In [50]:
tup=(1,2,3,4)
tup=tup*3
tup

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

### 14. Check if a tuple is empty.

In [89]:
tup=()
if len(tup)==0:
    print('tuple is empty')
else:
    print('tuple has values')

tuple is empty

### 15. Create a nested tuple.

In [91]:
tup=((1,2),(3,4))
tup

((1, 2), (3, 4))

### 16. Access the first element of a nested tuple.

In [96]:
tup=((1,2),(3,4),(5,6))
tup[0][0]

1

### 17. Create a tuple with a single element.

In [17]:
tup = (1,)

print(tup)

(1,)

### 18. Compare two tuples.

In [104]:
tup1=(1,2,3,4)
tup2=(4,5,6,7)
if tup1==tup2:
    print('two tuples has same values')
else:
    print('two tuples has different values')

two tuples has different values

### 19. Delete a tuple.

In [107]:
tup=('delete','a','tuple')
del tup

### 20. Slice a tuple

In [3]:
tup=(1, 2, 3, 4, 5, 6, 7, 8)
x=slice(2,5)
tup[x]

(3, 4, 5)

### 21. Find the maximum value in a tuple.

In [12]:
tup=(1, 2, 3, 4, 5, 6, 7, 8)
tup=list(tup)
tup.sort(key=None,reverse=True)
tup[0]

8

### 22. Find the minimum value in a tuple.

In [14]:
tup=(1, 2, 3, 4, 5, 6, 7, 8)
tup=list(tup)
tup.sort(key=None,reverse=False)
tup[0]

1

### 23. Convert a string to a tuple of characters.

In [19]:
str='Convert a string to a tuple of characters'
tuple(str.split())

('Convert', 'a', 'string', 'to', 'a', 'tuple', 'of', 'characters')

### 24. Convert a tuple of characters to a string.

In [22]:
tup=('Convert', 'a', 'string', 'to', 'a', 'tuple', 'of', 'characters')
' '.join(tup)

'Convert a string to a tuple of characters'

### 25. Create a tuple from multiple data types.

In [25]:
tup = ("abc", 1, True,  "male")

In [27]:
type(tup)

tuple

### 26. Check if two tuples are identical

In [4]:
tup1=(1,2,3,4)
tup2=(4,5,6,7)
if tup1==tup2:
    print('tuples are identical')
else:
    print('tuples are not identical')

tuples are not identical

### 27. Sort the elements of a tuple.

In [25]:
tup=(1,4,6,7,2,3)
tuple(sorted(list(tup),reverse=False))

(1, 2, 3, 4, 6, 7)

### 28. Convert a tuple of integers to a tuple of strings.

In [50]:
tup=(1, 2, 3, 4, 6, 7)
tup=list(tup)
tup=tuple([str(x) for x in tup])
tup

('1', '2', '3', '4', '6', '7')

### 29. Convert a tuple of strings to a tuple of integers.

In [64]:
tup=('1', '2', '3', '4', '6', '7')
tup=list(tup)
tup=tuple([int(x) for x in tup])
tup

(1, 2, 3, 4, 6, 7)

### 30. Merge two tuples.

In [66]:
tup1=('1', '2', '3')
tup2=('4', '6', '7')
tup=tup1+tup2
tup

('1', '2', '3', '4', '6', '7')

### 31. Flatten a nested tuple.

In [15]:
tup = ((34,42,21),(43,125,46), (457,18,49))

print(tuple(i for inner_tuple in tup for i in inner_tuple))

(34, 42, 21, 43, 125, 46, 457, 18, 49)

### 32. Create a tuple of the first 5 prime numbers.

In [16]:
prime = (2,3,5,7,11)

print(prime)

(2, 3, 5, 7, 11)

### 33. Check if a tuple is a palindrome.

In [77]:
tup=('racecar')
if tup[:]==tup[::-1] :
    print(tup,'is a palindrome')
else:
        print(tup , 'is not a palindrome')

racecar is a palindrome

### 34. Create a tuple of squares of numbers from 1 to 5.

In [47]:
tup = tuple(n*n for n in range(1,6))
print(tup)

(1, 4, 9, 16, 25)

### 35. Filter out all even numbers from a tuple.

In [25]:
tup=(1, 2, 3, 4, 6, 7,8,9,10)
for i in tup:
    if i%2==0:
        print(i,end=' ')

2 4 6 8 10

### 36. Multiply all elements in a tuple by 2

In [26]:
tup=(1, 2, 3, 4, 6, 7,8,9,10)
for i in tup:
    i=i*2
    print(i,end=' ')

2 4 6 8 12 14 16 18 20

### 37. Create a tuple of random numbers.

In [94]:
import random
tup=[]
for x in range(10):
    tup.append(random.randint(0,10))
print(tuple(tup))

(2, 0, 8, 6, 3, 7, 4, 6, 7, 5)

### 38. Check if a tuple is sorted.

In [87]:
tup=(1,2,4,3,5,6,7,8,9)
if tuple(sorted(list(tup),reverse=False))==tup:
    print('tuple is sorted')
else:
    print('tuple is not sorted')

tuple is not sorted

### 39. Rotate a tuple to the left by `n` positions.

In [13]:
tup = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

position = 2

print(tup[position:] + tup[:position])

(3, 4, 5, 6, 7, 8, 9, 10, 1, 2)

### 40. Rotate a tuple to the right by `n` positions.

In [14]:
tup = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

position = 2

print(tup[-position:] + tup[:-position])

(9, 10, 1, 2, 3, 4, 5, 6, 7, 8)

### 41. Create a tuple of the first 5 Fibonacci numbers.

In [100]:
tuple_fibo = (0,1,1,2,3)

print("First 5 Fibonacci numbers:", tuple_fibo)

### 42. Create a tuple from user input.

In [109]:
tup=tuple(input())

 Hi

In [111]:
print(tup)

('H', 'i')

### 43. Swap two elements in a tuple.

In [112]:
tup=('swap','two','elements','in','a','tuple')
tup=list(tup)
x=input()
y=input()

 two
 a

In [126]:
tup[tup.index(y)]=x
tup[tup.index(x)]=y
tuple(tup)

('swap', 'a', 'elements', 'in', 'two', 'tuple')

### 44. Reverse the elements of a tuple.

In [4]:
tup=(1,2,3,4,5,6,7,8,9)
tup=list(tup)
tup.reverse()
print(tuple(tup))

(9, 8, 7, 6, 5, 4, 3, 2, 1)

### 45. Create a tuple of the first `n` powers of 2

In [11]:
n = 6  
powers_of_2_tuple = tuple(2 ** i for i in range(n))

print('power of tuple :',powers_of_2_tuple)

for num in powers_of_2_tuple:
    print(num ** 2, end=', ')

power of tuple : (1, 2, 4, 8, 16, 32)
1, 4, 16, 64, 256, 1024,

### 46. Find the longest string in a tuple of strings.

In [30]:
tup=('Find', 'the', 'longest', 'string', 'in', 'a', 'tuple', 'of', 'strings')
tup=list(tup)
max=1
for i in tup:
    x=len(i)
    if x>max:
        max=x
        index=tup.index(i)
print('the longest string in a tuple is',tup[index])

the longest string in a tuple is longest

### 47. Find the shortest string in a tuple of strings.

In [31]:
tup=('Find', 'the', 'shortest', 'string', 'in', 'a', 'tuple', 'of', 'strings')
tup=list(tup)
max=1
for i in tup:
    x=len(i)
    if x<=max:
        max=x
        
        index=tup.index(i)
print('the longest string in a tuple is',tup[index])

the longest string in a tuple is a

### 48. Create a tuple of the first `n` triangular numbers.

In [9]:
n = 5 
triangular_numbers = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))
print(triangular_numbers)

(1, 3, 6, 10, 15)

### 49. Check if a tuple contains another tuple as a subsequence

In [165]:
tup1=('check','if','a','tuple','contains','another','tuple')
tup2=('another','tuple')

if all(i in tup1 for i in tup2):
    print('tuple contains anthore list as s subsequence')
else:
    print('tuple does not contains anthore list as s subsequence')

tuple contains anthore list as s subsequence

### 50. Create a tuple of alternating 1s and 0s of length `n`.

In [164]:
n=10
tup=tuple((1 if i%2==0 else 0) for i in range(n))
tup

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

## Set Based Practice Problem :

### 1. Create a set with integers from 1 to 5.

In [39]:
s={s for s in range(1,6)}
s

{1, 2, 3, 4, 5}

### 2. Add an element to a set.

In [42]:
s={1, 2, 3, 4, 5}
s.add(6)
s

{1, 2, 3, 4, 5, 6}

### 3. Remove an element from a set.

In [44]:
s={1, 2, 3, 4, 5, 6}
s.remove(6)
s

{1, 2, 3, 4, 5}

### 4. Check if an element exists in a set.

In [50]:
s={1, 2, 3, 4, 5, 6}
x=7
if x in s:
    print('given element exists in the set')
else:
     print('given element does not exists in the set')

given element does not exists in the set

### 5. Find the length of a set without using the `len()` function.

In [55]:
s={1, 2, 3, 4, 5}
x=0
s=list(s)
for i in s:
    s.count(i)
    x=x+1
print('length of a set is',x)

length of a set is 5

### 6. Clear all elements from a set.

In [59]:
s={'Clear', 'all', 'elements', 'from', 'a', 'set'}
s.clear()
s

set()

### 7. Create a set of even numbers from 1 to 10.

In [81]:
s=set()
for i in range(1,11):
    if i%2==0:
        s.add(i)
print(s)

{2, 4, 6, 8, 10}

### 8. Create a set of odd numbers from 1 to 10.

In [85]:
s=set()
for i in range(1,11):
    if i%2!=0:
        s.add(i)
print(s)

{1, 3, 5, 7, 9}

### 9. Find the union of two sets.

In [92]:
s1={1, 2, 3, 4, 5}
s2={6,7,8,9,10}
s=s1.union(s2)
s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### 10. Find the intersection of two sets.

In [96]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}
s=s1.intersection(s2)
s

{4, 5}

### 11. Find the difference between two sets.

In [99]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}
s=s1.difference(s2)
s

{1, 2, 3}

### 12. Check if a set is a subset of another set.

In [107]:
s1={4,5}
s2={4,5,6,7,8}

s1.issubset(s2)

True

### 13. Check if a set is a superset of another set.

In [110]:
s1={4,5,6,7,8}
s2={4,5}

s1.issuperset(s2)

True

### 14. Create a set from a list.

In [112]:
lst=[1,2,3,4,5]
set(lst)

{1, 2, 3, 4, 5}

### 15. Convert a set to a list.

In [114]:
s={1, 2, 3, 4, 5}
list(s)

[1, 2, 3, 4, 5]

### 16. Remove a random element from a set.

In [117]:
s={1, 2, 3, 4, 5}
s.remove(5)
s

{1, 2, 3, 4}

### 17. Pop an element from a set.

In [124]:
s={1,2, 3, 4, 5}
s.pop()
s

{2, 3, 4, 5}

### 18. Check if two sets have no elements in common.

In [ ]:
s1={1,2,3,4}
s2={4,5,6,7}
if s1!=s2:
    print('elemenst are not in common')
else:
    print('elements are  in common')

### 19. Find the symmetric difference between two sets.

In [17]:
s1={1,2,3,4}
s2={4,5,6,7}
s1.symmetric_difference(s2)

{1, 2, 3, 5, 6, 7}

### 20. Update a set with elements from another set.

In [20]:
s1={1,2,3,4}
s2={4,5,6,7}
s1.update(s2)
s1

{1, 2, 3, 4, 5, 6, 7}

### 21. Create a set of the first 5 prime numbers.

In [8]:
def prime_number(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) +1):
        if num% i == 0:
            return False
    return True

prime_number = tuple((num for num in range(2,51) if prime_number(num)))

print(prime_number)

(2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47)

### 22. Check if two sets are identical.

In [23]:
s1={1,2,3,4}
s2={4,5,6,7}
if s1==s2:
    print('Two sets are identical')
else:
    print('Two sets are not identical')

Two sets are not identical

### 23. Create a frozen set

In [7]:
s = frozenset([1,2,3,4,5])

print(s)

frozenset({1, 2, 3, 4, 5})

### 24. Check if a set is disjoint with another set.

In [46]:
s1={1,2,3,4}
s2={4,5,6,7}
if s1.isdisjoint(s2):
     print('set is not disjoint with another set')
else:
     print('set is disjoint with another set')

set is disjoint with another set

### 25. Create a set of squares of numbers from 1 to 5.

In [52]:
s=set()
for i in range(1,6):
    i=i*i
    s.add(i)
s

{1, 4, 9, 16, 25}

### 26. Filter out all even numbers from a set

In [56]:
s={1,2,3,4,5,6,7,8,9,10}
s={i for i in s if i%2==0}
s

{2, 4, 6, 8, 10}

### 27. Multiply all elements in a set by 2.

In [58]:
s={1,2,3,4,5,6,7,8,9,10}
s={i*2 for i in s}
s

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

### 28. Create a set of random numbers

In [171]:
import random
s=set()
for i in range(10):
    s.add(random.randint(0,10))
s

{0, 1, 3, 4, 5, 6, 9}

### 29. Check if a set is empty.

In [180]:
s=set()
if len(s)==0:
    print('set is empty')
else:
    print('set is not empty')

set is empty

### 30. Create a nested set (hint: use frozenset).

In [181]:
a = frozenset([1,2,3,4,5,6,7])

nested_set = {a}

print(nested_set)

### 31. Remove an element from a set using the discard method

In [187]:
s={1,2,3,4,5}
s.discard(1)
s

{2, 3, 4, 5}

### 32. Compare two sets.

In [6]:
a= {1,2,4}
b={3,4,5}

# Check sets are equal
if a == b:
    print('Sets are equal')
else:
    print('Sets are not equal')

# Check sets are not equal

if a != b:
    print('Sets are not equal')
else:
    print('The Sets are equal')
    
# Check sets based on their elements

if a<b:
    print('Set b is greater than a')
else:
    print('Set b is less than a')

Sets are not equal
Sets are not equal
Set b is less than a

### 33. Create a set from a string.

In [200]:
str='Create a set from a string'
s=set(str.split())
s

{'Create', 'a', 'from', 'set', 'string'}

### 34. Convert a set of strings to a set of integers.

In [204]:
s={'1','2','3','4','5'}
s={int(i) for i in s}
s

{1, 2, 3, 4, 5}

### 35. Convert a set of integers to a set of strings.

In [5]:
set_integers = {1, 2, 3, 4, 5}

set_strings = set(str(i) for i in set_integers)

print(set_strings)

{'5', '1', '2', '3', '4'}

### 36. Create a set from a tuple.

In [230]:
tup=('Create', 'a', 'set', 'from', 'a', 'tuple')
s=set(tup)
print(s)
print(type(s))

{'from', 'Create', 'a', 'set', 'tuple'}
<class 'set'>

### 37. Convert a set to a tuple.

In [233]:
s={'Create', 'a', 'set', 'from', 'a', 'tuple'}
tup=tuple(s)
print(tup)
print(type(tup))

('a', 'set', 'from', 'Create', 'tuple')
<class 'tuple'>

### 38. Find the maximum value in a set.

In [277]:
s={2,3,4,5,6,7,8,1}
max(s)

8

### 39. Find the minimum value in a set.

In [279]:
s={2,3,4,5,6,7,8,1}
min(s)

1

### 40. Create a set from user input.

In [284]:
s=set(input())
s

 10

{'0', '1'}

### 41. Check if the intersection of two sets is empty.

In [290]:
s1={1,2,3,4}
s2={4,5,6,7}
if s1.intersection(s2)==0:
    print('the intersection of two sets is empty')
else:
    print('the intersection of two sets is not empty')

the intersection of two sets is not empty

### 42. Create a set of the first 5 Fibonacci numbers.

In [4]:
fib_set = set()

a,b = 0, 1

for i in range(2, 8):
    next_fibonacci = fib_set.add(a)
    a,b = b, a+b

print("First 5 Fibonacci numbers:", fib_set)

First 5 Fibonacci numbers: {0, 1, 2, 3, 5}

### 43. Remove duplicates from a list using sets.

In [297]:
lst=[1,1,2,3,4,5,5,5,6,7,8,8,9]
list(set(lst))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### 44. Check if two sets have the same elements, regardless of their count.

In [300]:
s1={1,2,3,4}
s2={1,2,3,4}
if s1==s2:
    print('two sets have same elements')
else:
    print('two sets have different elements')

two sets have same elements

### 45. Create a set of the first `n` powers of 2.

In [1]:
n = 6  
power = set(2 ** i for i in range(n))

print(power)

{32, 1, 2, 4, 8, 16}

### 46. Find the common elements between a set and a list.

In [318]:
s={1,2,3,4,5}
lst=[3,4,5,6,7]
print(s.difference(set(lst)),set(lst).difference(s))

{1, 2} {6, 7}

### 47. Create a set of the first `n` triangular numbers

In [2]:
n = 5 
triangular_numbers = set((i * (i + 1)) // 2 for i in range(1, n + 1))
print(triangular_numbers)

{1, 3, 6, 10, 15}

### 48. Check if a set contains another set as a subset.

In [3]:
set1 = {1,2,3,4,5}
set2 = {31,14}

subset =set2.issubset(set1)

if subset:
    print('the set2 is a subset of set1')
else:
    print('the set2 is not a subset of set1')

the set2 is not a subset of set1

### 49. Create a set of alternating 1s and 0s of length `n`.

In [348]:
s=set()
n=10
x=0
for i in range(0,n):
    if x==0:
        x=1
    else: 
        x=0
    print(x,end=' ')

1 0 1 0 1 0 1 0 1 0

### 50. Merge multiple sets into one.

In [352]:
s1={1,2,3,4}
s2={5,6,7,8,9}
for i in s2:
    s1.add(i)
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}